body {
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

/****************** 
PARENT FOR FLEXBOX
*******************/
.container {
    /* max-width: 300px; */

    /* This property is required to start using the flexible box module in your CSS */
    display: flex;

    justify-content: space-evenly;
    /************************** 
    row (default) or row-reverse: the main axis will run horizontally or the inline direction

    column or column-reverse: the main axis will run vertically or in block direction 
    **************************/
    /* flex-direction: row;
    flex-wrap: wrap; */

    /* or use the shorthand */
    flex-flow: row wrap;

    /* align-items: baseline; */
    /* height: 250px; */
    margin: 0 0 50px 0;
    padding: 5px;
    background-color: #4980d2;
}
/***************** 
CHILD FOR FLEXBOX
******************/
.box {
    /* properties that are used on the individual flex-items */
    align-self: baseline;
    padding: 2rem;
    margin: 5px;
    background-color: #Cee3fe;
    text-align: center;

    /* Flex Item Sizing */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
/* 
For the following examples, boxes 2 and 4 are given additional padding top to better show the differences between the different align-items values.
*/
/* .box:nth-child(2n) {
    padding-top: 85px;
} */

/* Flex Item sizing */
.three {
    flex: 4 1 0;

    /* Ordering item */
    order: -1;
}
/*
    We can change order of the elements using order property flex items are ordered in Ascending order based on the value of order property
    Value for order can be positive or negative number or 0
*/
.four {
    flex: 4 1 0;
}

.one {
    order: 1;
}
